{{#if hasBlock}}
  {{yield columnValue columnMeta}}
{{else}}
  {{columnValue.name}}

  {{#if isSorted}}
    <span data-test-sort-indicator class="et-sort-indicator {{if isSortedAsc 'is-ascending' 'is-descending'}}">
      {{#if isMultiSorted}}
        {{sortIndex}}
      {{/if}}
    </span>
  {{/if}}
{{/if}}

<button class="et-sort-toggle et-speech-only">Toggle Sort</button>

{{#if resizeEnabled}}
  <div class="et-header-resize-area">
  </div>
{{/if}}
