{{#if hasBlock}}
  {{yield columnValue columnMeta}}
{{else}}
  {{columnValue.name}}

  {{#if isSorted}}
    <div data-test-sort-indicator class="et-sort-indicator {{if isSortedAsc 'is-ascending' 'is-descending'}}">
      {{#if isMultiSorted}}
        {{sortIndex}}
      {{/if}}
    </div>
  {{/if}}
{{/if}}

<button class="et-sort-toggle">Toggle Sort</button>

{{#if resizeEnabled}}
  <div class="et-header-resize-area">
  </div>
{{/if}}
