<DocsDemo as |demo|>
  <demo.example @name="sorting-empty-values">
    {{! BEGIN-SNIPPET docs-example-sorting-empty-values.hbs }}
    <div class='demo-options'>
      <label>
        <Input @type="checkbox" @checked={{this.sortEmptyLast}} />
        Sort Empty Last
      </label>
    </div>
    <div class="demo-container">
      <EmberTable as |t|>
        <t.head
          @columns={{this.columns}}
          @sorts={{this.sorts}}
          @sortEmptyLast={{this.sortEmptyLast}}

          @onUpdateSorts={{fn (mut this.sorts)}}

          @widthConstraint='gte-container'
          @fillMode='first-column'
        />

        <t.body @rows={{this.rows}} />
      </EmberTable>
    </div>
    {{! END-SNIPPET }}
  </demo.example>

  <demo.snippet @name="docs-example-sorting-empty-values.hbs" />
  <demo.snippet @label="component.js" @name="docs-example-sorting-empty-values.js" />
</DocsDemo>