<span class="ember-table-toggle-span {{if row.isLeaf '' 'ember-table-toggle'}} 
    {{if row.isCollapsed 'ember-table-expand' 'ember-table-collapse'}}"
    {{action 'toggleCollapse' row}}>
  {{fa-icon "caret-down" classNames="ember-table-toggle-icon"}}
</span>
<span class="ember-table-content">
  {{cellContent}}
</span>
