{{#if isFixed}}
  <div class="et-tf is-fixed" style={{fixedCellStyle}}>
    {{#if column.footerComponent}}
      {{#component column.footerComponent
        column=column
        columnIndex=columnIndex
      }}
      {{/component}}
    {{else}}
      {{column.footerName}}
    {{/if}}
  </div>
{{else}}
  {{#if column.footerComponent}}
    {{#component column.footerComponent
      column=column
      columnIndex=columnIndex
    }}
    {{/component}}
  {{else}}
    {{column.footerName}}
  {{/if}}
{{/if}}
