<div class="et2-thead-wrapper">
  <thead class="et2-thead">
    <tr>
      {{#each columns as |column columnIndex|}}
        {{#ember-table-header
          columnIndex=columnIndex
          hasFixedColumn=hasFixedColumn
          enableColumnResize=enableColumnResize
          enableColumnReorder=enableColumnReorder
          onHeaderClicked="onHeaderClicked"
          onColumnResized="onColumnResized"
          onColumnResizeEnded="onColumnResizeEnded"
          onColumnReorder="onColumnReorder"
          onColumnReorderEnds="onColumnReorderEnds"
          width=column.width
        }}
          {{column.columnName}}
        {{/ember-table-header}}
      {{/each}}
    </tr>
  </thead>
</div>

<div class="et2-body-outer-wrapper" >
  <div class="et2-body-inner-wrapper">
    {{#vertical-collection
      items=rows
      containerSelector=".et2-body-outer-wrapper"
      estimateHeight=20
      tagName="tbody"
      as |row rowIndex| }}
      <tr class="et2-table-row">
        {{#each columns as |column columnIndex|}}
          {{#ember-table-cell
            width=column.width
            columnIndex=columnIndex
            hasFixedColumn=hasFixedColumn
          }}
            {{yield row column.valuePath rowIndex columnIndex}}
          {{/ember-table-cell}}
        {{/each}}
      </tr>
    {{/vertical-collection}}
  </div>
</div>

<div class="et2-horizontal-scroll-wrapper" style={{horizontalScrollWrapperStyle}}>
  <div class="et2-horizontal-scroll" style={{horizontalScrollStyle}} />
</div>


{{#if hasFooter}}
  <div class="et2-footer-wrapper">
    <tfoot class="et2-tfooter">
      <tr>
        {{#each columns as |column columnIndex|}}
          {{#ember-table-footer
            columnIndex=columnIndex
            hasFixedColumn=hasFixedColumn
            width=column.width
          }}
            {{column.columnName}}
          {{/ember-table-footer}}
        {{/each}}
      </tr>
    </tfoot>
  </div>
{{/if}}
