<div class="et2-thead-wrapper" style={{theadWrapperStyle}}>
  <thead class="et2-thead">
    <tr>
      {{#each columns as |column columnIndex|}}
        {{#ember-table-header
          columnIndex=columnIndex
          enableColumnResize=enableColumnResize
          enableColumnReorder=enableColumnReorder
          fixedColumnWidth=fixedColumnWidth
          onHeaderClicked="onHeaderClicked"
          onColumnResized="onColumnResized"
          onColumnResizeEnded="onColumnResizeEnded"
          onColumnReorder="onColumnReorder"
          onColumnReorderEnds="onColumnReorderEnds"
          width=column.width}}
          {{column.columnName}}
        {{/ember-table-header}}
      {{/each}}
    </tr>
  </thead>
</div>

<div class="et2-body-outer-wrapper" style={{tBodyWrapperStyle}}>
  <div class="et2-body-inner-wrapper">
    {{#vertical-collection
      items=rows
      containerSelector=".et2-body-outer-wrapper"
      estimateHeight=20
      tagName="tbody"
      as |row rowIndex| }}
      <tr class="et2-table-row">
        {{#each columns as |column columnIndex|}}
          {{#ember-table-cell
            column=column
            columnIndex=columnIndex
            fixedColumnWidth=fixedColumnWidth
            width=column.width
            fixedColumnWidth=fixedColumnWidth}}
            {{yield row column.valuePath rowIndex columnIndex}}
          {{/ember-table-cell}}
        {{/each}}
      </tr>
    {{/vertical-collection}}
  </div>
</div>

<div class="et2-horizontal-scroll-wrapper" style={{horizontalScrollWrapperStyle}}>
  <div class="et2-horizontal-scroll" style={{horizontalScrollStyle}} />
</div>
