{{#if isFixed}}
  <div class="et-tf is-fixed" style={{fixedCellStyle}}>
    {{#if column.footerComponent}}
      {{component column.footerComponent
        column=column
        rowValue=rowValue
        rowIndex=rowIndex
        columnIndex=columnIndex
        onFooterEvent="sendFooterEvent"
      }}
    {{else}}
      {{footerValue}}
    {{/if}}
  </div>
{{else}}
  {{#if column.footerComponent}}
    {{component column.footerComponent
      column=column
      rowValue=rowValue
      rowIndex=rowIndex
      columnIndex=columnIndex
      onFooterEvent="sendFooterEvent"
    }}
  {{else}}
    {{footerValue}}
  {{/if}}
{{/if}}
