{{#if isFixed}}
  <div class="et-th is-fixed">
    {{#if column.headerComponent}}
      {{#component column.headerComponent
        column=column
        columnIndex=columnIndex
      }}
      {{/component}}
    {{else}}
      {{column.columnName}}
    {{/if}}

    {{#if column.isResizable}}
      <div class="et-header-resize-area">
      </div>
    {{/if}}
  </div>
{{else}}
  {{#if column.headerComponent}}
    {{#component column.headerComponent
      column=column
      columnIndex=columnIndex
    }}
    {{/component}}
  {{else}}
    {{column.columnName}}
  {{/if}}

  {{#if column.isResizable}}
    <div class="et-header-resize-area">
    </div>
  {{/if}}
{{/if}}
