<table style={{tableStyle}}>
  <thead>
    <tr>
      {{#each columns as |column columnIndex|}}
        {{ember-table-header
          column=column
          tableHasSubcolumns=hasSubcolumns
          columnIndex=columnIndex
          numFixedColumns=numFixedColumns
          onColumnResizing="onColumnResizing"
          onColumnResizeEnded="onColumnResizeEnded"
          onColumnReordering="onColumnReordering"
          onColumnReorderEnded="onColumnReorderEnded"
          onHeaderEvent="sendHeaderEvent"
          width=column.width
        }}
      {{/each}}
    </tr>

    {{#if hasSubcolumns}}
      <tr>
        {{#each columns as |column columnIndex|}}
          {{#each column.subcolumns as |subcolumn subcolumnIndex|}}
            {{ember-table-header
              column=subcolumn
              tableHasSubcolumns=false
              columnIndex=columnIndex
              numFixedColumns=numFixedColumns
              onColumnResizing="onColumnResizing"
              onColumnResizeEnded="onColumnResizeEnded"
              onColumnReordering="onColumnReordering"
              onColumnReorderEnded="onColumnReorderEnded"
              onHeaderEvent="sendHeaderEvent"
              width=column.width
            }}
          {{/each}}
        {{/each}}
      </tr>
    {{/if}}
  </thead>

  <tbody>
    {{#vertical-collection wrappedRows
      estimateHeight=estimateRowHeight
      staticHeight=staticHeight
      containerSelector=".ember-table"

      as |rowValue rowIndex|
    }}
      {{yield (hash
        value=rowValue.value
        depth=rowValue.depth
        index=rowIndex
        api=api)
      }}
    {{/vertical-collection}}
  </tbody>

  {{#if footerRows}}
    <tfoot>
      {{#each footerRows as |footerRow footerRowIndex|}}
        <tr>
        {{#each bodyColumns as |column columnIndex|}}
          {{ember-table-footer
            column=column
            rowValue=footerRow
            rowIndex=footerRowIndex
            columnIndex=columnIndex
            numFixedColumns=numFixedColumns
            onFooterEvent="sendFooterEvent"
          }}
        {{/each}}
        </tr>
      {{/each}}
    </tfoot>
  {{/if}}
</table>

