<div class="et2-thead-wrapper">
  <thead class="et2-thead">
    <tr>
      {{#each columns as |column columnIndex|}}
        {{#component column._headerComponent
          column=column
          columnIndex=columnIndex
          hasFixedColumn=hasFixedColumn
          enableColumnResize=enableColumnResize
          enableColumnReorder=enableColumnReorder
          onHeaderClicked="onHeaderClicked"
          onColumnResized="onColumnResized"
          onColumnResizeEnded="onColumnResizeEnded"
          onColumnReorder="onColumnReorder"
          onColumnReorderEnds="onColumnReorderEnds"
          width=column.width
        }}
          {{#unless column.headerComponent}}
            {{column.columnName}}
          {{/unless}}
        {{/component}}
      {{/each}}
    </tr>
  </thead>
</div>

<div class="et2-body-outer-wrapper" >
  <div class="et2-body-inner-wrapper">
    {{#vertical-collection
      items=rows
      containerSelector=".et2-body-outer-wrapper"
      estimateHeight=estimateRowHeight
      tagName="tbody"

      as |row rowIndex|
    }}
      {{#component rowComponent
        row=row
        columns=columns
        cellCache=cellCache
        cellProxyClass=cellProxyClass

        as |cell|
      }}
        {{#ember-table-cell
          row=row
          toggleRow="toggleRow"
          width=cell.column.width
          columnIndex=cell.columnIndex
          hasFixedColumn=hasFixedColumn
        }}
          {{yield cell}}
        {{/ember-table-cell}}
      {{/component}}
    {{/vertical-collection}}
  </div>
</div>

<div class="et2-bottom-wrapper">
  {{#if hasFooter}}
    <tfoot class="et2-tfooter">
      <tr>
        {{#each columns as |column columnIndex|}}
          {{#ember-table-footer
            columnIndex=columnIndex
            hasFixedColumn=hasFixedColumn
            width=column.width
          }}
            {{column.columnName}}
          {{/ember-table-footer}}
        {{/each}}
      </tr>
    </tfoot>
  {{/if}}

  <div class="et2-horizontal-scroll-wrapper" style={{horizontalScrollWrapperStyle}}>
    <div class="et2-horizontal-scroll" style={{horizontalScrollStyle}} />
  </div>
</div>

