{{#if isFirstColumn}}
  <div class="et-cell-container">
    {{#if canSelect}}
      <span
        class="et-toggle-select {{unless shouldShowCheckbox 'et-speech-only'}}"
        data-test-select-row-container
      >
        {{-ember-table-private/simple-checkbox
          data-test-select-row=true
          checked=unwrappedApi.rowMeta.isGroupSelected
          onClick="onSelectionToggled"
          ariaLabel="Select row"
        }}
        <span></span>
      </span>
    {{/if}}

    {{#if unwrappedApi.rowMeta.canCollapse}}
      <span class="et-toggle-collapse et-depth-indent {{depthClass}}">
        {{-ember-table-private/simple-checkbox
          data-test-collapse-row=true
          checked=unwrappedApi.rowMeta.isCollapsed
          onChange="onCollapseToggled"
          ariaLabel="Collapse row"
        }}
        <span></span>
      </span>
    {{else}}
      <div class="et-depth-indent et-depth-placeholder {{depthClass}}"></div>
    {{/if}}

    <div class="et-cell-content">
      {{#if hasBlock}}
        {{yield unwrappedApi.cellValue unwrappedApi.columnValue unwrappedApi.rowValue unwrappedApi.cellMeta unwrappedApi.columnMeta unwrappedApi.rowMeta}}
      {{else}}
        {{unwrappedApi.cellValue}}
      {{/if}}
    </div>
  </div>
{{else}}
  {{#if hasBlock}}
    {{yield unwrappedApi.cellValue unwrappedApi.columnValue unwrappedApi.rowValue unwrappedApi.cellMeta unwrappedApi.columnMeta unwrappedApi.rowMeta}}
  {{else}}
    {{unwrappedApi.cellValue}}
  {{/if}}
{{/if}}
