{{#if this.isFirstColumn}}
  <div class="et-cell-container">
    {{#if this.canSelect}}
      <span
        class="et-toggle-select {{unless this.shouldShowCheckbox 'et-speech-only'}}"
        data-test-select-row-container
      >
        <EmberTableSimpleCheckbox
          data-test-select-row
          aria-label="Select row"
          @checked={{this.rowMeta.isGroupSelected}}
          @onClick={{action "onSelectionToggled"}}
        />
        <span></span>
      </span>
    {{/if}}

    {{#if this.canCollapse}}
      <span class="et-toggle-collapse et-depth-indent {{this.depthClass}}">
        <EmberTableSimpleCheckbox
          data-test-collapse-row
          aria-label="Collapse row"
          @checked={{this.rowMeta.isCollapsed}}
          @onChange={{action "onCollapseToggled"}}
        />
        <span></span>
      </span>
    {{else}}
      <div class="et-depth-indent et-depth-placeholder {{this.depthClass}}"></div>
    {{/if}}

    <div class="et-cell-content">
      {{#if (has-block)}}
        {{yield this.cellValue this.columnValue this.rowValue this.cellMeta this.columnMeta this.rowMeta this.rowsCount}}
      {{else}}
        {{this.cellValue}}
      {{/if}}
    </div>
  </div>
{{else}}
  {{#if (has-block)}}
    {{yield this.cellValue this.columnValue this.rowValue this.cellMeta this.columnMeta this.rowMeta this.rowsCount}}
  {{else}}
    {{this.cellValue}}
  {{/if}}
{{/if}}
