<div class='demo-options'>
  <label>
    {{input type="checkbox" checked=centerSpinner}}
    Enable Centering
  </label>
</div>

<div class="demo-container table-fixes">
  {{! BEGIN-SNIPPET docs-example-infinite-scroll.hbs }}
  <EmberTable as |t|>
    <t.head @columns={{this.columns}} />

    <t.body
      @rows={{this.rows}}
      @lastReached={{perform this.loadMore}} />

    <t.loadingMore
      @isLoading={{this.loadMore.isRunning}}
      @canLoadMore={{this.canLoadMore}}
      @center={{this.centerSpinner}}>

      <!-- supply your own spinner here -->
      <img class="spinner" src="/assets/images/spinner.gif"/>
    </t.loadingMore>
  </EmberTable>
  {{! END-SNIPPET }}
</div>
