+
{{#adde-dropdown data-test-action-dropdown-menu=true as |close|}}
  <ul class="adde-dropdown-menu">
    {{#each dropdownActions as |dropdownAction|}}
      {{#if dropdownAction.isDivider}}
        <li class="list-divider" role="separator"></li>
      {{else if dropdownAction.subActions.length}}
        <li>
          <button>
            {{dropdownAction.text}}

            <div class="adde-dropdown-caret right" aria-hidden="true"></div>

            {{#adde-sub-dropdown data-test-action-sub-dropdown-menu=true}}
              <ul class="adde-dropdown-menu">
                {{#each dropdownAction.subActions as |subAction|}}
                  {{#if subAction.isDivider}}
                    <li class="list-divider" role="separator"></li>
                  {{else}}
                    <li>
                      <button {{action "sendDropdownAction" close subAction.name subAction.args}}>
                        {{subAction.text}}
                      </button>
                    </li>
                  {{/if}}
                {{/each}}
              </ul>
            {{/adde-sub-dropdown}}
          </button>
        </li>
      {{else}}
        <li>
          <button {{action "sendDropdownAction" close dropdownAction.name dropdownAction.args}}>
            {{dropdownAction.text}}
          </button>
        </li>
      {{/if}}
    {{/each}}
  </ul>
{{/adde-dropdown}}
