{{#docs-viewer as |viewer|}}
  {{#viewer.nav as |nav|}}
    {{nav.section 'Introduction' 'docs.examples' style='large'}}

    <li class="mt-8"></li>

    {{nav.item 'What is Ember Table?' 'docs.index'}}
    {{nav.item 'Quickstart' 'docs.quickstart'}}

    {{nav.section 'Examples' 'docs.examples' style='large'}}

    <li class="mt-8"></li>

    {{nav.item 'A Basic Table' 'docs.examples.basic-table'}}

    {{nav.section 'Header'}}

    {{nav.item 'Columns' 'docs.examples.header.columns'}}
    {{nav.item 'Subcolumns' 'docs.examples.header.subcolumns'}}
    {{nav.item 'Fixed Columns' 'docs.examples.header.fixed-columns'}}
    {{nav.item 'Size Constraints' 'docs.examples.header.size-constraints'}}
    {{nav.item 'Sorting' 'docs.examples.header.sorting'}}

    {{nav.section 'Body'}}

    {{nav.item 'Rows and Trees' 'docs.examples.body.rows-and-trees'}}
    {{nav.item 'Row Selection' 'docs.examples.body.row-selection'}}
    {{nav.item 'Occlusion' 'docs.examples.body.occlusion'}}
  {{/viewer.nav}}

  {{#viewer.main}}
    {{outlet}}
  {{/viewer.main}}

{{/docs-viewer}}
