<div class="col-md-10 col-md-offset-2 left-border main-content-container">
  <h1>Ember Table <small>Ajax Cells</small></h1>

  <div class="row">
    <div class="col-md-12">
      <div class="example-container">
        <div class="ember-table-example-container">
          {{!// BEGIN-SNIPPET ajax-table}}
          {{ember-table
            hasHeader=true
            hasFooter=false
            numFixedColumns=0
            numRows=100
            rowHeight=35
            columns=tableColumns
            content=tableContent
          }}
          {{!// END-SNIPPET}}
        </div>
      </div>
      <div class="example-description">
        <p class="reduced">Ember-Table with ajax cells.</p>
      </div>
    </div>

    <div class="col-md-12 bumper-30">
      <h3>Template</h3>
      {{code-snippet name="ajax-table.hbs"}}
    </div>

    <div class="col-md-12 bumper-30">
      <h3>Controller</h3>
      {{code-snippet name="ajax-controller.js"}}
    </div>

    <div class="col-md-12 bumper-30">
      <h3>views/ajax-image-table-cell.js</h3>
      {{code-snippet name="ajax-image-table-cell.js"}}
    </div>

    <div class="col-md-12 bumper-30">
      <h3>templates/ajax-table/ajax-cell.hbs</h3>
      {{code-snippet name="ajax-cell.hbs"}}
    </div>

    <div class="col-md-12 bumper-30">
      <h3>views/ajax-table-lazy-data-source.js</h3>
      {{code-snippet name="ajax-table-lazy-data-source.js"}}
    </div>
  </div>
</div>
