<div class="col-md-10 col-md-offset-2 left-border main-content-container">
  <h1>Ember Table <small>D3 Chart Table Cells</small></h1>

  <div class="row">
    <div class="col-md-12">
      <div class="example-container">
        <div class="ember-table-example-container">
          {{!// BEGIN-SNIPPET bars-table}}
          {{ember-table
            hasHeader=true
            hasFooter=false
            rowHeight=30
            columns=tableColumns
            content=tableContent
          }}
          {{!// END-SNIPPET}}
        </div>
      </div>
    </div>

    <div class="col-md-12 bumper-30">
      <h3>Template</h3>
      {{code-snippet name="bars-table.hbs"}}
    </div>

    <div class="col-md-12 bumper-30">
      <h3>Controller</h3>
      {{code-snippet name="bars-controller.js"}}
    </div>

    <div class="col-md-12 bumper-30">
      <h3>views/bar-table-cell.js</h3>
      {{code-snippet name="bar-table-cell.js"}}
    </div>

    <div class="col-md-12 bumper-30">
      <h3>templates/bar-table/bar-cell.hbs</h3>
      {{code-snippet name="bar-cell.hbs"}}
    </div>
  </div>
</div>
