<div class="demo-container">
  {{#ember-table as |t|}}
    {{ember-thead columns=columns resizeMode=fluid hasFixedColumn=true api=t}}

    {{#ember-tbody api=t tree=tree as |b|}}
      {{#ember-tr api=b as |r|}}
        {{#ember-td api=r as |value cell column row|}}
          {{#if column.cellComponent}}
            {{component column.cellComponent value=value row=row}}
          {{else}}
            <div {{action "onCellClicked" cell column.meta.index}} class={{if cell.wasClicked "red-cell"}}>
              {{value}}
            </div>
          {{/if}}
        {{/ember-td}}
      {{/ember-tr}}
    {{/ember-tbody}}

    {{ember-tfoot api=t rows=footerRows}}
  {{/ember-table}}
</div>
