<div class="demo-container">
  {{#tree-table
    tree=rows
    columns=columns
    columnMode="fluid"
    numFixedColumns=1
    as |t|
  }}
    {{#tree-table-row
      row=t

      as |cell|
    }}

      {{#if cell.column.cellComponent}}
        {{component cell.column.cellComponent cell=cell}}
      {{else}}
        <div {{action "onCellClicked" cell}} class={{if cell.wasClicked "red-cell"}}>
          {{cell.value}}
        </div>
      {{/if}}
    {{/tree-table-row}}
  {{/tree-table}}
</div>
