<div class="demo-container">
  {{#ember-table
    tree=tree
    columns=columns
    columnMode="fluid"
    numFixedColumns=1
    footerRows=footerRows
    as |t|
  }}
    {{#ember-table-row
      row=t

      as |value cell column row|
    }}

      {{#if column.cellComponent}}
        {{component column.cellComponent value=value row=row}}
      {{else}}
        <div {{action "onCellClicked" cell column.meta.index}} class={{if cell.wasClicked "red-cell"}}>
          {{value}}
        </div>
      {{/if}}
    {{/ember-table-row}}
  {{/ember-table}}
</div>
