<div class="col-md-10 col-md-offset-2 left-border main-content-container">
  <h1>Ember Table <small>Editable</small></h1>

  <div class="row">
    <div class="col-md-12">
      <div class="example-container">
        <div class="ember-table-example-container">
          {{! BEGIN-SNIPPET editable-table}}
          {{ember-table
            hasHeader=true
            hasFooter=false
            numFixedColumns=0
            rowHeight=30
            columns=tableColumns
            content=tableContent
          }}
          {{! END-SNIPPET}}
        </div>
      </div>
    </div>

    <div class="col-md-12 bumper-30">
      <h3>Template</h3>
      {{code-snippet name="editable-table.hbs"}}
    </div>

    <div class="col-md-12 bumper-30">
      <h3>Controller</h3>
      {{code-snippet name="editable-controller.js"}}
    </div>

    <div class="col-md-12 bumper-30">
      <h3>views/editable-table-cell.js</h3>
      {{code-snippet name="editable-table-cell.js"}}
    </div>

    <div class="col-md-12 bumper-30">
      <h3>templates/editable-table/editable-table-cell.hbs</h3>
      {{code-snippet name="editable-table-cell.hbs"}}
    </div>

    <div class="col-md-12 bumper-30">
      <h3>views/rating-table-cell.js</h3>
      {{code-snippet name="rating-table-cell.js"}}
    </div>

    <div class="col-md-12 bumper-30">
      <h3>templates/editable-table/rating-table-cell.hbs</h3>
      {{code-snippet name="rating-table-cell.hbs"}}
    </div>
  </div>
</div>
