<div class="col-md-10 col-md-offset-2 left-border main-content-container">
  <h1>Ember Table <small>Financial Table</small></h1>

  <div class="row">
    <div class="col-md-12">
      <div class="example-container">
        <div class="ember-table-example-container ember-table-financial">
          {{! BEGIN-SNIPPET financial-table}}
          {{financial-table
            data=data
          }}
          {{! END-SNIPPET}}
        </div>
      </div>
    </div>

    <div class="col-md-12 bumper-30">
      <h3>Template</h3>
      {{code-snippet name="financial-table.hbs"}}
    </div>

    <div class="col-md-12 bumper-30">
      <h3>Controller</h3>
      {{code-snippet name="financial-controller.js"}}
    </div>

    <div class="col-md-12 bumper-30">
      <h3>components/financial-table.js</h3>
      {{code-snippet name="financial-table-component.js"}}
    </div>

    <div class="col-md-12 bumper-30">
      <h3>views/financial-table-cell.js</h3>
      {{code-snippet name="financial-table-cell.js"}}
    </div>

    <div class="col-md-12 bumper-30">
      <h3>templates/financial-table/financial-table-cell.hbs</h3>
      {{code-snippet name="financial-table-cell-template.hbs"}}
    </div>

    <div class="col-md-12 bumper-30">
      <h3>views/financial-table-header-cell.js</h3>
      {{code-snippet name="financial-table-header-cell.js"}}
    </div>

    <div class="col-md-12 bumper-30">
      <h3>templates/financial-table/financial-table-tree-cell.hbs</h3>
      {{code-snippet name="financial-table-tree-cell-template.hbs"}}
    </div>

    <div class="col-md-12 bumper-30">
      <h3>views/financial-table-header-tree-cell.js</h3>
      {{code-snippet name="financial-table-header-tree-cell.js"}}
    </div>

    <div class="col-md-12 bumper-30">
      <h3>templates/financial-table/financial-table-header-cell.hbs</h3>
      {{code-snippet name="financial-table-header-cell-template.hbs"}}
    </div>

    <div class="col-md-12 bumper-30">
      <h3>views/financial-table-tree-cell.js</h3>
      {{code-snippet name="financial-table-tree-cell.js"}}
    </div>

    <div class="col-md-12 bumper-30">
      <h3>templates/financial-table/financial-table-header-tree-cell.hbs</h3>
      {{code-snippet name="financial-table-header-tree-cell-template.hbs"}}
    </div>

    <div class="col-md-12 bumper-30">
      <h3>views/financial-table-tree-row.js</h3>
      {{code-snippet name="financial-table-tree-row.js"}}
    </div>
  </div>
</div>
