{{! BEGIN-SNIPPET docs-example-selection-modes.hbs }}
<div class="demo-container">
  <EmberTable as |t|>
    <t.head @columns={{this.columns}} />

    <t.body
      @rows={{this.rowsWithChildren}}

      @rowSelectionMode={{this.rowSelectionMode}}
      @checkboxSelectionMode={{this.checkboxSelectionMode}}
      @selectingChildrenSelectsParent={{this.selectingChildrenSelectsParent}}

      @onSelect={{action (mut demoSelection)}}
      @selection={{this.demoSelection}}
    />
  </EmberTable>
</div>
<div class="demo-options-group">
  <h4>Current selection</h4>
  <div class="demo-current-selection">{{currentSelection}}</div>
</div>
<div class="demo-options-group">
  <h4>rowSelectionMode</h4>
  <label> <RadioButton @name='row-selection-mode' @value='multiple' @groupValue={{this.rowSelectionMode}} /> multiple </label>
  <label> <RadioButton @name='row-selection-mode' @value='single' @groupValue={{this.rowSelectionMode}} /> single </label>
  <label> <RadioButton @name='row-selection-mode' @value='none' @groupValue={{this.rowSelectionMode}} /> none </label>
</div>
<div class="demo-options-group">
  <h4>checkboxSelectionMode</h4>
  <label> <RadioButton @name='checkbox-selection-mode' @value='multiple' @groupValue={{this.checkboxSelectionMode}} /> multiple </label>
  <label> <RadioButton @name='checkbox-selection-mode' @value='single' @groupValue={{this.checkboxSelectionMode}} /> single </label>
  <label> <RadioButton @name='checkbox-selection-mode' @value='none' @groupValue={{this.checkboxSelectionMode}} /> none </label>
</div>
<div class="demo-options-group">
  <h4>selectingChildrenSelectsParent</h4>
  <label> {{input type="checkbox" checked=selectingChildrenSelectsParent}} </label>
</div>

{{! END-SNIPPET }}