<div class="demo-container fixed-width">
  <EmberTable as |t|>
    <EmberThead @api={{t}} @columns={{this.columns}} />

    <EmberTbody @api={{t}} @rows={{this.rows}} @selection={{this.selection}} />
  </EmberTable>
</div>
